body {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
}
ul > li{
    list-style-type: none;
    padding-bottom: 1em;
}
p{
    margin: 3px;
}
#addEventDiv{
    min-width: 150px;
}
#listEventDiv{
    min-width: 250px;
}
button{
    padding: 3px;
}
@media (max-width: 500px){
    body{
        flex-wrap: wrap-reverse;
    }
    #addEventDiv{
        min-width: 200px;
    }
}
